.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input,
.select {
  padding: 10px;
  border: 2px solid var(--slate-900);
  border-radius: 8px;
  background-color: var(--slate-950);
  color: var(--olive-200);
  outline: none;
}
.input:focus,
.select:focus {
  border-color: var(--olive-200);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.input {
  flex: 1;
}

.button {
  padding: 10px 20px;
  background-color: var(--olive-200);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
